/bin/
/.git/
/.gradle/
/.settings/
/dist/
/log/
/classes/
/document/
.DS_Store
.*.swp
*MockUtils.java
*.ipr
*.iml
*.iws
*.class
*.log
/.idea
build
.classpath
.project
*.pid
gradle/
gradlew
gradlew.bat
out/
/.idea/
