<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.integration.dao.OrderCargoDAO">
	<resultMap id="result" type="com.example.common.dto.OrderCargoDTO">
		<result column="cargo_id" jdbcType="VARCHAR" property="cargoId" />
		<result column="order_id" jdbcType="VARCHAR" property="orderId" />
	</resultMap>

	<insert id="add" parameterType="com.example.common.dto.OrderCargoDTO">
		INSERT INTO
		orders_cargo(cargo_id, order_id)
		VALUES(#{cargoId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR})
	</insert>

    <select id="getList" parameterType="java.lang.String" resultMap="result">
		SELECT * FROM orders_cargo where order_id＝#{orderId,jdbcType=VARCHAR}
	</select>
</mapper>